<h2 class="edit-title">ゲーム編集画面</h2>

<div class="edit-form-container">
  <%= form_with model: @game, url: game_path(@game), method: :patch do |f| %>
    <table class="edit-table">
      <tr>
        <th>ゲームイラスト画像</th>
        <td><%= f.file_field :image, accept: "image/*", class: "form-control-file" %></td>
      </tr>
      <tr>
        <th>ゲームタイトル</th>
        <td><%= f.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <th>概要</th>
        <td><%= f.text_area :body, class: "form-control", rows: 4 %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td><%= f.text_field :tag, class: "form-control" %></td>
      </tr>
      <tr>
        <td colspan="2" class="form-actions">
          <%= f.submit "保存", class: "btn btn-save" %>
          <%= link_to "キャンセル", game_path(@game), class: "btn btn-cancel" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
