<h4>タイトル名</h4>
 <p><%= @game.title %></p>
 
<h2>概要</h2>
 <p><%= @game.body %></p>
 
<h2>ジャンル</h2>
 <p><%= @game.tag %></p>
 
 <h4><%= link_to "攻略情報作成", new_strategy_path(game_id: @game.id) %></h4>
 <% @game.strategies.each do |strategy| %>
   <p><%= link_to strategy.title, strategy_path(strategy) %></p>
 <% end %>
 
 <%= link_to "削除", game_path(@game.id), method: :delete, "data-confirm" =>"本当に削除しますか？" %>
 <%= link_to "編集", edit_game_path(@game.id) %>