<div class="container mt-5">
  <!-- イメージセクション -->
  <div class="text-center mb-4">
    <% if @game.image.attached? %>
      <%= image_tag @game.image, class: "img-fluid rounded", alt: "Game Image" %>
    <% else %>
      <%= image_tag 'no_image', class: "img-fluid rounded", alt: "No Image Available" %>
    <% end %>
  </div>

  <!-- ゲーム情報テーブル -->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">項目</th>
        <th scope="col">内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">タイトル名</th>
        <td><%= @game.title %></td>
      </tr>
      <tr>
        <th scope="row">概要</th>
        <td><%= @game.body %></td>
      </tr>
      <tr>
        <th scope="row">ジャンル</th>
        <td><%= @game.tag %></td>
      </tr>
    </tbody>
  </table>

  <!-- 攻略情報作成ボタン -->
  <div class="text-center my-4">
    <% if user_signed_in? %>
      <%= link_to "攻略情報作成", new_strategy_path(game_id: @game.id), class: "btn btn-primary" %>
    <% end %>
  </div>

  <!-- 攻略情報リスト -->
  <h4 class="mt-5">攻略情報</h4>
  <div class="list-group">
    <% @game.strategies.each do |strategy| %>
      <a href="<%= strategy_path(strategy) %>" class="list-group-item list-group-item-action">
        <%= strategy.title %>
      </a>
    <% end %>
  </div>

  <!-- 編集ボタン -->
  <div class="text-center my-4">
    <% if user_signed_in? %>
      <%= link_to "編集", edit_game_path(@game.id), class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
