<%= form_with model: @game, url: admins_games_path do |f|%>
  <h4>ゲーム名</h4>
  <%= f.text_field :title %>
  
  <h4>概要</h4>
  <%= f.text_field :body %>
  
  <h4>カテゴリー</h4>
  <%= f.text_field :tag %>
  
  <br>
  <%= f.submit '投稿' %>
<% end %>