<h2 class="form-title">ゲーム投稿</h2>

<div class="form-container">
  <%= form_with model: @game, url: admins_games_path, multipart: true do |f| %>
    <% if @game.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= @game.errors.count %>件のエラーが見つかりました:</h2>
        <ul>
          <% @game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <label>ゲーム名</label>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>概要</label>
      <%= f.text_area :body, class: "form-control", rows: 4 %>
    </div>

    <div class="form-group">
      <label>カテゴリー</label>
      <%= f.text_field :tag, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>ゲーム画像</label>
      <%= f.file_field :image, class: "form-control-file", accept: "image/*" %>
    </div>

    <div class="form-actions">
      <%= f.submit "投稿", class: "btn btn-submit" %>
    </div>
  <% end %>
</div>
