<div>
  <% if @game.image.attached? %>
    <%= image_tag @game.image, size: "450x150" %>
  <% else %>
    <%= image_tag 'no_image', size: "450x150" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>タイトル名</th>
      <td><%= @game.title %></td>
    </tr>
    <tr>
      <th>概要</th>
      <td><%= @game.body %></td>
    </tr>
    <tr>
      <th>ジャンル</th>
      <td><%= @game.tag %></td>
    </tr>
  </thead>
</table>
 
 <h4><%= link_to "攻略情報作成", new_admins_strategy_path(game_id: @game.id) %></h4>
 <% @game.strategies.each do |strategy| %>
   <p><%= link_to strategy.title, admins_strategy_path(strategy) %></p>
 <% end %>
 
 <%= link_to "削除", admins_game_path(@game.id), method: :delete, "data-confirm" =>"本当に削除しますか？" %>
 <%= link_to "編集", edit_admins_game_path(@game.id) %>