<h4>タイトル名</h4>
 <p><%= @game.title %></p>
 
<h2>概要</h2>
 <p><%= @game.body %></p>
 
<h2></h2>
 <p><%= @game.tag %></p>
 
 <%= link_to "削除", admins_game_path(@game), method: :delete, "data-confirm" =>"本当に削除しますか？" %>
 <%= link_to "編集", admins_game_path(@game) %>