<h2 class="user-title">ユーザー詳細(管理人)</h2>

<div class="user-info">
  <h3><%= @user.name %></h3>
  
  <div class="user-image">
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  </div>

  <div class="user-actions">
    <%= link_to "編集", edit_admins_user_path(@user.id), class: "btn btn-edit" %>
    <%= link_to "削除", admins_user_path(@user.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-delete" %>
  </div>
</div>