<h4>攻略情報編集画面(ユーザー)</h4>
<%= form_with model:  @strategy do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :game_id, value: params[:game_id] %>
      <table>
          <tr><th>タイトル</th><td><%= f.text_field :title %></td></tr>
          <tr><th>説明文</th><td><%= f.text_field :body %></td></tr>
          <tr><th><%= f.submit '投稿' %></th></tr>
      </table>
<% end %>