<div class="strategy-container">
  <h2>タイトル</h2>
  <p><%= @strategy.title %></p>

  <h2>本文</h2>
  <p><%= @strategy.body %></p>

  <!-- コメントフォーム -->
<div class="comment-form">
  <div class="comment-form-inner">
    <%= form_with model: @comment, url: strategy_comments_path(@strategy.id) do |f| %>
      <table>
        <tr>
          <th>コメント</th>
          <th><%= f.text_area :comment, class: "form-control comment-box", rows: 3 %></th>
        </tr>
        <tr>
          <td colspan="2"><%= f.submit '保存' %></td>
        </tr>
      </table>
    <% end %>
</div>


  <!-- 編集・削除・戻るボタン -->
  <% if @strategy.user_id == current_user.id %>
    <div class="action-buttons">
      <%= link_to "編集", edit_strategy_path(@strategy.id), class: "btn-primary" %>
      <%= link_to "削除", strategy_path(@strategy.id), method: :delete, class: "btn-danger", "data-confirm" => "本当に削除しますか？" %>
      <%= link_to "戻る", game_path(@game.id), class: "btn-secondary" %>
    </div>
  <% end %>

  <!-- コメントリスト -->
  <div class="comment-list">
    <% if @strategy.comments.present? %>
      <table>
        <% @strategy.comments.each_with_index do |comment, index| %>
          <% if comment.id.present? %>
            <tr>
              <th><%= index + 1 %>.</th>
              <th><%= link_to comment.comment, strategy_comment_path(@strategy.id, comment.id) %></th>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% else %>
      <p>コメントが存在しません</p>
    <% end %>
  </div>
</div>
