<h1>コメントを作成</h1>

<%= render "users/shared/error_messages", resource: @comment %>

<%= form_with model: @comment, url: comments_path do |f| %>
  <div>
    <%= f.label :comment, "コメント内容" %>
    <%= f.text_area :comment %>
  </div>

  <div>
    <%= f.submit "送信" %>
  </div>
<% end %>
